@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
	font-family: 'AblationBold';
	src: url('/fonts/ablationbold.eot');
	src: url('/fonts/ablationbold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/ablationbold.woff2') format('woff2'),
		url('/fonts/ablationbold.woff') format('woff'),
		url('/fonts/ablationbold.ttf') format('truetype'),
		url('/fonts/ablationbold.svg#ablationbold') format('svg');
}

.font-inter {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gotham';
	src: url('/fonts/Gotham/gotham_book.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'gotham';
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	scroll-behavior: smooth !important;
}

.fabl {
	font-family: 'AblationBold' !important;
}

.fog {
	font-family: 'gotham' !important;
}

.textsys {
	color: #8E9581 !important;
	font-family: 'gotham' !important;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}

.bgsys {
	background-color: #8E9581 !important;
}

body {
	background-color: #F0EBE6;
	min-height: 100vh;
	font-family: 'HelveticaNeueCyr-Light';
}


input[type="date"]::-webkit-calendar-picker-indicator {
	filter: invert(1);
	opacity: 1;
}